.about-page {
  width: 70%; }
  .about-page .map {
    padding-top: 20px; }
    .about-page .map h2 {
      font-size: 30px; }
    .about-page .map p {
      font-size: 18px;
      padding: 5px; }
  .about-page .about-container {
    width: 100%;
    margin-top: 100px;
    margin-left: 200px;
    min-height: 90%;
    padding: 20px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.45); }
    .about-page .about-container i {
      padding: 0 15px; }
