.row {
  margin: 0; }

.event-detail .event-page {
  width: 75%;
  margin: 30px auto;
  height: auto; }

.event-detail .event-photo {
  max-height: 350px; }
  .event-detail .event-photo img {
    max-height: 350px;
    object-fit: cover; }

.event-detail .black-box {
  padding: 30px;
  height: 350px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  padding-top: 10px; }
  .event-detail .black-box .event-description {
    padding-top: 15px;
    font-size: 13px;
    height: auto; }

.event-detail .transparent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .event-detail .transparent .more-info {
    padding-bottom: 20px; }

.event-detail .artist-count {
  font-size: 18px; }

.event-detail .event-name {
  font-size: 25px; }

.event-detail .event-date {
  font-family: 'Khula', sans-serif;
  font-size: 16px; }

.event-detail .event-venue {
  font-family: 'Khula', sans-serif;
  font-size: 18px; }

.event-detail .description {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300; }

.event-detail .white-box {
  min-height: 350px;
  background-color: white;
  padding: 50px; }
  .event-detail .white-box .artists-wrapper {
    display: flex;
    flex-direction: column; }
    .event-detail .white-box .artists-wrapper .artist-item a {
      color: black;
      font-size: 12px; }
    .event-detail .white-box .artists-wrapper .artist-name {
      padding: 0;
      margin: 0;
      text-align: left;
      line-height: normal; }
  .event-detail .white-box .upcoming {
    font-size: 30px;
    color: #000;
    text-align: left; }
  .event-detail .white-box .artists-header {
    display: flex;
    flex-direction: column; }
  .event-detail .white-box .artists-button .join-button {
    padding: 10px;
    background-color: #43A67C;
    border: 1px solid #43A67C;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    width: 100px;
    text-align: center;
    font-size: 13px;
    outline: 0; }
  .event-detail .white-box p, .event-detail .white-box h3 {
    color: #000; }
