.event-page {
  height: 100vh;
  background-image: url("../images/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  overflow-y: scroll; }
  .event-page .event-name {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 28px;
    min-height: 57px; }
  .event-page .events-title {
    margin-top: 10px; }

.events-container {
  width: 70%;
  margin: 0 auto;
  min-height: 90%; }

.scroll h1 {
  text-align: center;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 38px;
  color: rgba(255, 255, 255, 0.9); }

.create-event {
  height: 100vh; }

.row {
  margin-left: 100px; }

.event {
  text-align: center; }

.btn-event {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid #F6903D;
  border-radius: 4px;
  margin: 20px 0; }

.btn-event:focus {
  outline: 0; }

.time {
  font-size: 12px; }

.event-box {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.09);
  min-height: 325px; }

.event-description {
  width: 100%;
  overflow: hidden; }
