.footer-container
  background-size: cover
  background-color: Silver


.footer
  color: white
  font-weight: 300
  font-size: 24px
  font-family: 'Khula', sans-serif


.link
  color: white

.link:hover
  color: white
  text-decoration: none


.jumbotron
  background-color: transparent
  height: 200px

.bigletter-container
  float: right
  width: 300px
  margin-right: 3%

.bigletter
  float: right
  margin-right: 30px


  padding: 8px 10px
  background-color: transparent
  font-family: 'Montserrat Subrayada', sans-serif
  font-weight: 500
  font-size: 100px
