.wrapper {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2); }

h1 {
  text-align: center; }

.form-control {
  width: 100%; }

.artist-profile {
  margin-top: 20px; }

.btn-submit {
  float: right;
  color: white;
  background-color: #43A67C;
  border: 1px solid #43A67C;
  border-radius: 4px;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 400;
  font-size: 12px; }
