.jumbotron {
  background-color: transparent;
  height: 600px; }

.header-text {
  color: white;
  font-weight: 300;
  font-size: 45px;
  font-family: 'Khula', sans-serif; }

.text-container {
  width: 360px;
  margin-top: 150px;
  margin-right: 40px; }

.btn-container {
  float: right;
  width: 170px;
  margin-right: 16%;
  margin-top: 10%; }

.btn-green {
  float: right;
  color: white;
  padding: 8px 25px;
  background-color: #43A67C;
  border: 1px solid #43A67C;
  border-radius: 4px;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 400;
  font-size: 12px; }

.btn-transparent {
  margin-top: 10px;
  float: right;
  color: white;
  padding: 8px 29px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 400;
  font-size: 12px; }

.link {
  color: white; }

.link:hover {
  color: white;
  text-decoration: none; }
