nav
  form.form-inline
    width: 220px
    margin-right: 10px
  form.form-inline input.form-control
    width: 220px
    font-size: 15px
    height: 17px
    margin-right: 10px
  form#searchForm
    padding-top: 25px
    height: 15px

li
  padding-left: 20px


.sign-out
  text-align: right

.bg-faded
  background-color: transparentize(#000, 0.7)

.navbar-light .navbar-brand
  font-family: 'Montserrat Subrayada', sans-serif
  color: white
  font-size: 30px

.navbar-light .navbar-brand:hover
  color: white

.navbar-light .navbar-brand:focus
  color: white

.navbar-light .navbar-nav .nav-link
  color: white
  font-weight: 300
  font-size: 17px

.navbar-light .navbar-nav .nav-link:hover
  color: white
  text-decoration: underline

.navbar-light .navbar-nav .nav-link:focus
  color: white
