.App {
  color: white;
  font-family: 'Khula', sans-serif;
  background-image: url("./images/bg1.jpg");
  background-size: cover;
  width: 100%;
  background-color: #2B292E; }

.App .scroll {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll; }

::-webkit-scrollbar {
  display: none; }
