.App {
  color: white;
  font-family: 'Khula', sans-serif;
  background-image: url("./images/header1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 700px;
  background-size: cover; }

